<div class="post-container">
    <h2>Food Post Title</h2>
    <h6 class="expire-date">Expiring date</h6>

    <p class="description">Description</p>
    <p>location "(this.username.location)"</p>
    <p>Pick-up Time</p>
    <p>Food Type</p>
    <img id="post-img"
        src="https://www.kikkoman.es/fileadmin/_processed_/7/9/csm_110-recipe-page-Poke-Bowl-with-Crispy-Chicken_desktop_ead65a9061.jpg"
        alt="Pokebowl">
    <form id="request-tupper-button" action="auth/user-profile" method="POST">
        <button>I'll take it</button>
    </form>

</div>