<link rel="stylesheet" href="/stylesheets/style.css" />
<body class="first-pages-body">
<div id="index-container">
    <img class="first-pages-logos" src="/images/tupper.png">
    <h1 id="title1part">ALL YOU CAN </h1>
    <h1 id="title2part">TUPPER </h1> 
    <br><br>
    <p class="catch-phrase">If you can't eat it,</p>
    <p class="catch-phrase">you can share it!</p>
    <br>
    <p id="join-now">Join now!</p>
    <br>
    <a href="/auth/signup"><button class="button"> Sign Up</button></a>
    <a href="auth/login"><button class="button">Login </button></a>
</div>
</body>