<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VSC</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <main>
    <nav>
      <ul>
        <li id="to-right">
          <a href="/auth/user-profile">My profile</a>
        </li>
        <li><a href="/auth/login">Login/a>
        </li>
        <li>
          <a href="/auth/feed">Home</a></li>
        <li>
          <form id="logout-form" action="/auth/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </main>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>